bidict==0.21.2
boto3==1.17.70
botocore==1.20.70
click==7.1.2
Flask==1.1.2
Flask-SocketIO==5.0.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
python-engineio==4.1.0
python-socketio==5.2.1
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.4
Werkzeug==1.0.1
