{% extends "base.html" %} {% block head %}


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

</script> 







<script type="text/javascript">
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);

  var data = {{ res|tojson }}
  var vals = []
  console.log("What we want: ",data)
  for (i = 0; i < data.length; i++) {
    // console.log("--" , data[i]["estimated_values"])
    // console.log("--" , JSON.parse(data[i]["estimated_values"]))
    // console.log(typeof data[i]["estimated_values"])
  }

  pi_estimations = data[0]["estimated_values"]
  console.log(pi_estimations)
  plot = [["run", "pi estimate", "pi"],]

  for (i = 0; i < pi_estimations.length; i++) {
    plot.push([i,pi_estimations[i],3.14159265359])
    
  }

  console.log(plot)



  function drawChart() {
    var data = google.visualization.arrayToDataTable(plot);

    var options = {
      title: "estimated value vs actual value of pi",
      curveType: "function",
      legend: { position: "bottom" },
    };

    var chart = new google.visualization.LineChart(
      document.getElementById("curve_chart")
    );

    chart.draw(data, options);
  }
</script>

{% endblock %} {% block header %}Resources{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div
        id="curve_chart"
        style="width: auto; height: auto: overflow: scroll;"
      ></div>
      <p>
        Estimated value of π is ..... (Actual: 3.14159265359) Shots taken are
        ..... Runtime of ..... Estimated cost is .....
      </p>
      <br />
    </div>


<!-- <h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a> -->


  <button id="btn" class="btn"> stop </button>
  




    <div class="col-md-6">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Resource ID</th>
              <th scope="col">InCircle</th>
              <th scope="col">Shots</th>
            </tr>
          </thead>

          <tbody id="tablebody" >
            <!-- {% for i in res %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{i["thread_id"]}}</td>
              <td>{{i["incircle"]}}</td>
              <td>{{i["shots"]}}</td>
            </tr>

            {% endfor %} -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script type="text/javascript">
    $('button#btn').click(function(){
      $.ajax({
          url: "/_get_data/",
          type: "POST",
          success: function(resp){
              $('div#response').append(resp.data);
          }
      });
    });
</script> -->


<script>
  function setIntervalX(callback, delay, repetitions) {
    var x = 0;
    var intervalID = window.setInterval(function () {

       callback();

       if (++x === repetitions) {
           window.clearInterval(intervalID);
       }
    }, delay);
}

  $(document).ready(function() {
      // alert("document ready occurred!");
      var x = 0
  //     let intervalId = window.setInterval(function () {
        
          
        
  // }, 1000);
  setIntervalX(function () {
    var index = 1
          $.ajax({
            url: "/_get_data",
            type: "POST",
            dataType: "json",
            success: function (data) {
              console.log("The other data: ",data["data"])
              data["data"].forEach(function(item2,idx) {
                JSON.parse(item2["values"]).forEach(function(item) {
                console.log("item: ",item)
                $('tbody#tablebody').append("<tr><th scope='row'>"+ index+"</th><td>"+ idx +"</td><td>"+ item[0] +"</td><td> "+ item[1] +"</td></tr>");
                  index += 1
              });
              });
            },
        });
          }, 1000, 1);

  $('button#btn').click(function(){
  window.clearInterval(intervalId);
    });
});




  // $(function(){
  //       console.log($.ajax);
  //       window.setInterval(function () {
  //         $.ajax({
  //           url: "/_get_data",
  //           type: "POST",
  //           dataType: "json",
  //           success: function (data) {
  //             $('div#response').append(data);
  //           },
  //       });
  // }, 1000);

  
    // });

</script>

{% endblock %}
